* {
    margin: 40px 45px 0 35px;
    color: white;
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: 300px 280px 2fr;
    grid-gap: 20px;
}

.grid div:nth-child(2) {
    height: 500px;border-width: 6px;
    border-color: cyan;
    border-right-style: dashed;
    border-bottom-style: solid;
}
.grid div:nth-child(1) {
    padding: 40px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
}
.grid div:nth-child(3) {
    padding: 40px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
    font-style: italic;
}
.grid div:nth-child(4) {
    grid-row: 3;
    grid-column: 1 / -1;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: italic;
}
a:hover {
    background-color: white;
  color: #d3775d;
}