* {
    margin: 40px 45px 0 35px;
    color: white;
    background-color: black;
}

.grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-gap: 20px;
}
.grid div:nth-child(odd) {
  background-image: linear-gradient(to right, rgb(67, 198, 172), rgb(25, 22, 84));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}
.grid div:nth-child(1) {
    padding: 40px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
     border-width: 6px;
    border-color: #f6e1b8;
    border-top-style: dashed;
    border-left-style: solid;
}
.grid div:nth-child(3) {
    padding: 40px;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
    font-style: italic;
     border-width: 6px;
    border-color: #f6e1b8;
    border-right-style: dashed;
    border-bottom-style: solid;
}
.grid div:nth-child(4) {
    grid-row: 3;
    grid-column: 1 / -1;
    padding: 25px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    font-style: italic;
}
a:hover {
    background-color: white;
  color: #b55c6c;
}
